fastapi
uvicorn
sounddevice
numpy
python-dotenv
pydub
librosa
loguru
streamlit
requests
groq
streamlit-mic-recorder
python-multipart
httpx
aiofiles
pydantic
pydantic-settings
streamlit-audiorecorder
audio-recorder-streamlit
noisereduce
silero-vad
pydub
numpy
scipy
sarvamai
streamlit-javascript
chromadb
sentence-transformers
